.main-nav {
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 17px;
  height: 68px;
  font-size: 24px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #000000;
}

nav-login-logout {
  color: #000000;
  margin: 19px 10px 19px 210px;
  border-radius: 10px;
  border: 1px solid #000000;
}
