.main-nav {
  padding-left: 18px;
  font-size: 24px;
}

.nav-username {
  display: none;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #000000;
}

.nav-logout {
  color: #000000;
  margin: 0px 10px 0px 0px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 5px;
  width: 100px;

  text-align: center;
}

@media (min-width: 768px) {
  .nav-username {
    display: unset;
    margin-right: 20px;
  }
}
