.product-filter-select__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  background-color: #263238 !important;
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
}

.product-filter-select__placeholder {
  color: #e9902b !important;
}

.product-filter-select__menu {
  font-size: 1em;
  letter-spacing: -0.015em;
  background-color: #263238 !important;
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
  color: #e9902b;
}

.product-filter-select__single-value {
  color: #9e9e9e !important;
}

.product-filter-select__indicator-separator {
  display: none;
}
